<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../Game.js"></script>
    <style>
        table,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        td {
            height: 4em;
            width: 4em;
        }
        
        td.bright {
            background-color: white;
        }
        
        td.dark {
            background-color: grey;
        }
        
        img {
            height: 100%;
            width: 100%;
            margin: auto;
        }
        
        .darkCharacter {
            height: 25px;
            width: 25px;
            background-color: black;
            border-radius: 50%;
            margin: 25%;
            display: block;
        }
        
        .brightCharacter {
            height: 25px;
            width: 25px;
            background-color: brown;
            border-radius: 50%;
            margin: 25%;
            display: block;
        }
        
        .darkKing {
            height: 40px;
            width: 40px;
            background-color: black;
            border-radius: 50%;
            margin: 25%;
            display: block;
        }
        
        .brightKing {
            height: 40px;
            width: 40px;
            background-color: brown;
            border-radius: 50%;
            margin: 25%;
            display: block;
        }
        
        .dark.selected {
            background-color: red;
        }
        
        a {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <button onclick="checkersGameUI(8)">start game</button>
        <script src="../../Game.js"></script>
</body>

</html>